/* Write your CSS here */
.main-background {
  background-image: linear-gradient(#fff1eb, #ace0f9);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #000000;
  font-family: Bree Serif;
  font-size: 40px;
  font-weight: bold;
}
.input-container {
  border: 2px solid #7b8794;
  background-color: transparent;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.input {
  border: 0px;
  background-color: transparent;
  border: none;
  outline: none;
}
.searchImg {
  height: 20px;
  width: 20px;
}
.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
}
.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  overflow: auto;
}
